/* general styles */

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
div {
	font-family: "Kumbh Sans", sans-serif;
	font-size: 16px;
}

p {
	font-size: 0.75rem;
	line-height: 18px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(#af67e9, #6565e7);
	min-height: 100vh;
	width: 100%;
	padding: 20px;
}

/* card styles */
.card {
	display: block;
	height: 100%;
	width: 100%;
	max-width: 375px;
	margin: 0 auto;
	position: relative;
	background-color: white;
	border-radius: 15px;
	margin: 20px;
	box-shadow: 0 8px 20px 0px rgba(62, 62, 248, 0.5);
}

.card-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2rem;
}

/* image section styles */
.image-content {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	margin-bottom: 2rem;
}

.image-container {
	width: 100%;
	height: 430%;
	/* border: 1px solid black; */
	position: relative;
	align-items: center;
}

img.main-pic {
	position: absolute;
	bottom: 30px;
	right: 10%;
}

img.shadow.mobile {
	padding-left: 15%;
}
.desktop {
	display: none;
}

/* text styles */

h1 {
	text-align: center;
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 2rem;
}

/*question styles */
div.question {
	width: 100%;
	border: none;
	outline: none;
	cursor: pointer;
	display: flex;
	text-align: left;
	justify-content: space-between;
	padding: 1.5rem 0 1rem 0;
	border-top: 1px solid hsl(240, 5%, 91%);
	background: white;
	margin-bottom: 0.5rem;
}

.question p {
	width: 80%;
}
.question p:hover {
	color: hsl(14, 88%, 65%);
}

.accordian-content {
	max-width: 90%;
	margin-bottom: 1rem;
	display: none;
	overflow: hidden;
}

/* active accordian styles */
.show p.q {
	font-weight: 700;
	color: black;
}

.show .accordian-content {
	display: block;
}

/* arrow styles */
.show img {
	transform: rotate(180deg);
	transition: transform 0.3s ease-in-out;
}

/* styles for larger screens */
@media only screen and (min-width: 1025px) {
	.card {
		max-width: 65%;
		/* min-height: fit-content; */
	}

	.card-content {
		flex-direction: row;
		align-items: center;
		padding: 4rem 4rem 2rem 4rem;
	}

	.image-content {
		width: 50%;
		justify-content: left;
	}

	.image-container {
		width: 100%;
		height: 400px;
		position: relative;
	}

	.mobile {
		display: none;
	}

	.desktop {
		display: block;
		position: absolute;
		left: -100px;
	}

	.main-pic.desktop {
		width: 100%;
		top: 20px;
		overflow: hidden;
	}
	.shadow.desktop {
		width: 100%;
		position: absolute;
		top: 0;
	}

	.box {
		top: 15%;
		left: -55px;
		z-index: 1;
		width: 30%;
		position: absolute;
		transform: translateX(-50%) translateY(70%);
		overflow: hidden;
	}

	.text-container {
		width: 50%;
		padding: 2rem 3rem 2rem 1rem;
	}

	h1 {
		text-align: left;
	}
	.accordian {
		min-height: 340px;
	}
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
